<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lasalle.gfiches" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GestionFiches</name>
    <!--<name>HelloWorld</name>-->
    <description>
        Une application de gestion de fiches (Apache Cordova)
    </description>
    <author email="tvaira@free.fr" href="http://tvaira.free.fr/">
        Thierry Vaira
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />    
    <platform name="android">
      <allow-intent href="market:*" />
      <!--<preference name="android-minSdkVersion" value="21" />-->
      <!--<preference name="android-targetSdkVersion" value="21" />-->
   </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!-- <preference name="Fullscreen" value="true" /> -->
        <preference name="StatusBarOverlaysWebView" value="true" />
        <!-- <preference name="UIViewControllerBasedStatusBarAppearance" value="true" /> -->
        <!--<preference name="iosPersistentFileLocation" value="Library" />-->
        <!--<preference name="iosPersistentFileLocation" value="Compatibility" />-->
    </platform>
</widget>
